<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
    <div class="big-card">
    	<h3>{{chart.name}}</h3>
	<canvas id="myChart" ></canvas>
	<script>
	var ctx = document.getElementById('myChart').getContext('2d');
	var myChart = new Chart(ctx, {
	    type: '{{ type }}',
	    data: {
	        labels: [
	            		{% for item in labels %}
			            	"{{item}}",
			            {% endfor %}
	        ],
	        datasets: [{
	            // label: '{{ chart.name }}',
	            data: [
	            		{% for item in values %}
			             "{{item}}",
			            {% endfor %}
			    ],
	            borderWidth: 2,
	            backgroundColor: [
	            	{% for color in color_palette %}
	            		'rgba({{ color }}, 0.4)',
	            	{% endfor %}
	            ],
	            baorderColor: [
	            	{% for color in color_palette %}
	            		'rgba({{ color }}, 1)',
	            	{% endfor %}
	            ]
	        }]
	    },
	    options: {
	        legend: {
	            display: false,
	        },
	    	responsive: true,
	    	{% if type == 'bar' or type =='line' %}
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero: true
		                }
		            }]
		        }
		    {% endif %}
	    }
	});
	</script>
    </div>