{% extends "shared/_layout.html" %}
{% block additional_css %}
{% endblock %}
{% block main_content %}	
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <div class="big-card">
    	<h3>{{chart.name}}</h3>
	<div id="chart" ></div>
	
	<script>
		var options = {
		  chart: {
		    type: 'line'
		  },
		  series: [{
		    name: '{{chart.name}}',
		    data: [{% for item in values %}
			            	"{{item}}",
			            {% endfor %}]
		  }],
		  xaxis: {
		    categories: [{% for item in labels %}
			            	"{{item}}",
			            {% endfor %}]
		  }
		}

		var chart = new ApexCharts(document.querySelector("#chart"), options);

		chart.render();
	</script>
    </div>
{% endblock %}

{% block additional_js %}
{% endblock %}
