{% extends "shared/_layout.html" %}
{% block additional_css %}
	<link rel="stylesheet" href="/static/css/dashboard.css" />
{% endblock %}
{% block main_content %}
	<script type="text/javascript">
		chart_data = [
		{% for chart in charts %}
			{% if loop.index0 > 0 %},{% endif %}
			{
				"id": "chart{{loop.index0}}",
				{% if chart.page %}"page": "{{chart.page}}", {% endif %}
				"name": '{{chart["name"]}}',
				"chart": {
					"type": '{{ chart.chart_type }}',
					"data": {
						"labels":[
						            		{% for item in chart["x_categories"] %}
								            	"{{item}}",
								            {% endfor %}
						        ],
						"datasets": [
						{% for value_set in chart.value_sets %}
							{% if loop.index0 > 0 %},{% endif %}	

							{
								"label": '{{chart.dataset_legends[loop.index0]}}',
								"data":[
					            		{% for item in value_set %}
							             "{{item}}",
							            {% endfor %}
								],
					            "borderWidth": 1,
					            "backgroundColor": [
					            	{% for color in chart["color_palettes"][loop.index0] %}
					            		'rgba({{ color }}, 0.4)',
					            	{% endfor %}
					            ],
					            "borderColor": [
					            	{% for color in chart["color_palettes"][loop.index0] %}
					            		'rgba({{ color }}, 0.6)',
					            	{% endfor %}
					            ]
							}
						{% endfor %}
						]
					},
					    "options": {
					    {% if chart.options %}
					    	{{ chart.options | safe}}
					    {% else %}
					    	"animation": false,
					        "legend": {
					            //display: false,
					        },
					    	"responsive": true,
					    	{% if chart.chart_type == 'bar' or chart.chart_type =='line' %}
						        "scales": {
						            "yAxes": [{
						                "ticks": {
						                    "beginAtZero": true
						                }
						            }]
						        }
						    {% endif %}
						{% endif %}
					    }
				}
			}
		{% endfor %}

		]



	</script>
	{% if pages %}
		<div class="page-tabs">
			<ul class="nav nav-tabs">
			  {% for page in pages %}
			      <li class="nav-item">
				    <a class="nav-link page_tabs" id="page_{{page}}" onclick="load_page(chart_data, '{{page}}')">{{page}}</a>
				  </li>
			  {% endfor %}
			</ul>
		</div>
	{% endif %}

	<div class = "row-cards">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
	</div>

{% endblock %}

{% block additional_js %}
	<script src="/static/js/chart_tools.js"></script>
	<script type="text/javascript">
		
	{% if pages %}
		load_page(chart_data, '{{pages[0]}}')
	{% else %}
		create_all_charts(chart_data)
	{% endif %}

	</script>
{% endblock %}
