{% extends "shared/_layout.html" %}
{% block additional_css %}
{% endblock %}
{% block main_content %}
	<script type="text/javascript">
		chart_data = [
		{% for chart in charts %}
			{% if loop.index0 > 0 %},{% endif %}
			{
				"id": "chart{{loop.index0}}",
				"name": '{{chart["name"]}}',
				"chart": {
					"type": '{{ chart.chart_type }}',
					"data": {
						"labels":[
						            		{% for item in chart["x_categories"] %}
								            	"{{item}}",
								            {% endfor %}
						        ],
						"datasets": [
						{% for value_set in chart.value_sets %}
							{% if loop.index0 > 0 %},{% endif %}	

							{
								"label": '{{chart.dataset_legends[loop.index0]}}',
								"data":[
					            		{% for item in value_set %}
							             "{{item}}",
							            {% endfor %}
								],
					            "borderWidth": 1,
					            "backgroundColor": [
					            	{% for color in chart["color_palettes"][loop.index0] %}
					            		'rgba({{ color }}, 0.4)',
					            	{% endfor %}
					            ],
					            "borderColor": [
					            	{% for color in chart["color_palettes"][loop.index0] %}
					            		'rgba({{ color }}, 0.6)',
					            	{% endfor %}
					            ]
							}
						{% endfor %}
						]
					},
					"options":{
						"responsive": true
					}
				}
			}
		{% endfor %}

		]



	</script>

	<div class = "row-cards">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
	</div>

{% endblock %}

{% block additional_js %}
	<script src="/static/js/chart_tools.js"></script>
	<script type="text/javascript">
	
		create_all_charts(chart_data)

	</script>
{% endblock %}
