{% extends "shared/_layout.html" %}
{% block additional_css %}
	<link rel="stylesheet" href="/static/css/list.css" />
{% endblock %}
{% block main_content %}
    <div class="big-card">
    	<h1>Users</h1>
    	<a href="/user/edit">New</a>
		<table>
			<tr class="table_head">
				<th>Name
				</th>
				<th>Username
				</th>
				<th>Groups
				</th>
				<th>
				</th>
			</tr>
			{% for user in users %}
			<tr>
				<td>{{ user.name }}</td>
				<td>{{ user.username }}</td>
				<td> {% for user_group in user.user_groups%}
					{{ user_group.group.name }}<br>
					{% endfor %}
					<a href="/user/user_group/edit?user_id={{ user.id }}">Edit</a>
				</td>
				<td><a href="/user/edit?id={{ user.id }}">Edit</a></td>
			</tr>
			{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
    </div>
{% endblock %}

{% block additional_js %}
{% endblock %}
