{% extends "shared/_edit_layout.html" %}
{% block form_content %}


<div>
	<label for="name">Name</label>
	<input id="name" name="name" type="text" placeholder="Name" class="form-control" value="{{ data_obj.name if data_obj.name }}" required>
</div>

<div>
	<label for="location_id">Location</label>
	<select id="location_id" name="location_id" class="form-control" required>
	{% if not data_obj.id %}
	<option value="" disabled  selected="selected" >Select Location</option>
	{% endif %}
	{% for location in locations %}
	<option value="{{location.id}}" data-location_type="{{location.location_type.name}}" {% if data_obj.location_id == location.id %}  selected="selected" {% endif %}>{{location.name}}</option>
	{% endfor %}
	</select>
</div>

<div style = 'display: none;'>
	<label for="notasi_query">Data Lake Query</label>
	<textarea id="notasi_query" name="notasi_query" type="text" placeholder="Query Notasi Database" class="form-control">{{ data_obj.notasi_query if data_obj.notasi_query }}</textarea>
</div>

<div style = 'display: none;'>
	<label for="endpoint">Endpoint</label>
	<input id="endpoint" name="endpoint" type="text" placeholder="Endpoint" class="form-control" value="{{ data_obj.endpoint if data_obj.endpoint }}">
</div>

<div style = 'display: none;'>
	<label for="request_method_id">Request Method</label>
	<select id="request_method_id" name="request_method_id" class="form-control">
	<option value="" disabled  selected="selected">Select Request Method</option>
	{% for request_method in request_methods %}
	<option value="{{request_method.id}}" {% if data_obj.request_method_id == request_method.id %} selected="selected" {% endif %}>{{request_method.name}}</option>
	{% endfor %}
	</select>
</div>

<div style = 'display: none;'>
	<label for="head">Headers</label>
	<textarea id="head" name="head" placeholder="Query Head" class="form-control">{{ data_obj.head if data_obj.head }}</textarea>
</div>

<div style = 'display: none;'>
	<label for="request_body">Request Body</label>
	<textarea id="request_body" name="body" type="text" placeholder="Query Body" class="form-control">{{ data_obj.body if data_obj.body }}</textarea>
</div>
{% endblock %}

{% block extra_buttons %}
	<a href="/process/run/query/{{ data_obj.id }}/return" class="btn btn-success action-button push-left" id="test" >Test</a>
	<a href="/process/run/query/{{ data_obj.id }}/write" class="btn btn-success action-button push-left" id="run" >Run</a>
{% endblock %}



{% block additional_css %}
	<link rel="stylesheet" href="/static/css/edit.css" />
{% endblock %}

{% block additional_js %}

<script src="/static/js/query.js"></script>

{% endblock %}

