{% extends "shared/_edit_layout.html" %}
{% block form_content %}

<div>
	<label for="name">Name</label>
	<input if="name" name="name" type="text" placeholder="Name" class="form-control" value="{{ data_obj.name if data_obj.name }}">
</div>

<div>
	<label for="location_type_id">Type</label>
	<select id = "location_type_id" name="location_type_id" class="form-control" required>
	{% if not data_obj.location_type_id %}
	<option value="" disabled selected="selected">Select Location Type</option>
	{% endif %}
	{% for location_type in location_types %}
	<option value="{{location_type.id}}" data-location_type = '{{location_type.name}}'{% if data_obj.location_type_id == location_type.id %} selected="selected" {% endif %}>{{location_type.name}}</option>
	{% endfor %}
	</select>
</div>

<div style = 'display: none;'>
	<label for="address">Address</label>
	<input id="address" name="address" type="text" placeholder="Address" class="form-control" value="{{ data_obj.address if data_obj.address }}">
</div>

<div style = 'display: none;'>
	<label for="port">Port</label>
	<input id="port" name="port" type="text" placeholder="Port" class="form-control" value="{{ data_obj.port if data_obj.port }}">
</div>

<div style = 'display: none;'>
	<label for="database">Database</label>
	<!-- <input id="database" name="database" type="text" placeholder= "Database" class="form-control" value="{{ data_obj.database if data_obj.database }}"> -->
	<textarea id="database" name="database" type="text" placeholder="Database" class="form-control">{{ data_obj.database if data_obj.database }}</textarea>
</div>

<div style = 'display: none;'>
	<label for="username">Username</label>
	<input id = "username" name="username" type="text" placeholder="Username" class="form-control" value="{{ data_obj.username if data_obj.username }}">
</div>

<div style = 'display: none;'>
	<label for="password">Password</label>
	<input id="password" name="password" type="password" placeholder= {% if data_obj.password %} "********" {% else %} "Password" {% endif %} class="form-control">
</div>

<div style = 'display: none;'>
	<label for="subtype_id">Subtype</label>
	<select id="subtype_id" name="subtype_id" class="form-control">
	{% if not data_obj.subtype_id %}
	<option value="" disabled selected="selected" >Select subtype</option>
	{% endif %}
	<option value="">N/A</option>
	{% for subtype in subtypes %}
	<option value="{{subtype.id}}" {% if data_obj.subtype_id == subtype.id %} selected="selected" {% endif %}>{{subtype.name}}</option>
	{% endfor %}
	</select>
</div>

{% endblock %}

{% block additional_js %}

<script src="/static/js/location.js"></script>

{% endblock %}
