{% extends "shared/_layout.html" %}
{% block additional_css %}
	<link rel="stylesheet" href="/static/css/process.css" />
{% endblock %}
{% block main_content %}
	<div class="flex-box">
	    <div class="schedules">
	    	<h1>Schedules</h1>
	    	<table>
	    		{% for row in schedules %}
	    		<tr>
	    			<td>
	    				{{row["id"]}}
	    			</td>
	    			<td>
	    				{{row["next_run_time"]}}
	    			</td>
	    		</tr>
	    		{% endfor %}
	    	</table>
	    </div>
	</div>
{% endblock %}

{% block additional_js %}
{% endblock %}
