h1 {
	text-align: center;
	margin-bottom: 20px;
}

.form-container {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
    width: 95%%;
    background-color: white;
	border-radius: 40px;
    border-top-left-radius: 2px;
    padding: 20px;
    padding-bottom: 10px;
}

.account-form > div {
	display: flex;
	margin-bottom: 20px;
}

.account-form > div > label{
	display: flex;
	align-items: center;
    margin-bottom: 0px;
    width: 20%;
}

.form-control {
    max-width: 80%;
    margin-left: auto;
}

.action-buttons {
	justify-content: flex-end;
}

.action-button {
	margin-left: 10px;
}

#run {
	margin-right: auto;
}