<!-- templates/login.html -->
{% extends "shared/_layout.html" %}
{% block additional_css %}
    <link rel="stylesheet" href="/static/css/login.css" />
{% endblock %}

{% block main_content %}
    <div class="big-question">
        <div class="form-container">
            <h3>Login</h3>
            <form  method="POST" action="{{ url_for('auth.local', next=next_dest) }}" class="login-form">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="username" name="username" placeholder="Your Username" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="password" placeholder="Your Password">
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-success action-button">Login</button>
            </form>
        </div>

    </div>
{% endblock %}