{% extends "shared/_layout.html" %}
{% block additional_css %}
	<link rel="stylesheet" href="/static/css/user.css" />
{% endblock %}
{% block main_content %}
    <div class="big-card">
    	<h1>Groups</h1>
    	<a href="/group/edit">New</a>
		<table>
			<tr class="table_head">
				<th>Name
				</th>
				<th>Category
				</th>
				<th>Query Maintainable
				</th>
				<th>
				</th>
			</tr>
			{% for group in groups %}
			<tr>
				<td>{{ group.name }}</td>
				<td>{{ group.group_category.name }}</td>
				<td><input type="checkbox" onclick="return false;" disabled="disabled" {%if group.query_maintainable %} checked {% endif %} ></td>
				<td><a href="/group/edit?id={{ group.id }}">Edit</a></td>
			</tr>
			{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
    </div>
{% endblock %}

{% block additional_js %}
{% endblock %}
