{% extends "shared/_layout.html" %}
{% block additional_css %}
	<link rel="stylesheet" href="/static/css/user.css" />
{% endblock %}
{% block main_content %}
    <div class="big-card">
    	<h1>Group Categories</h1>
    	<a href="/group/group_category/edit">New</a>
		<table>
			<tr class="table_head">
				<th>Name
				</th>
				<th>Groups
				</th>
				<th>
				</th>
			</tr>
			{% for group_category in group_categories %}
			<tr>
				<td>{{ group_category.name }}</td>
				<td><a href="/group/group?category_id={{ group_category.id }}">Edit Groups</a></td>
				<td><a href="/group/group_category/edit?id={{ group_category.id }}">Edit</a></td>
			</tr>
			{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
    </div>
{% endblock %}

{% block additional_js %}
{% endblock %}
