<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Notasi{% endblock %}</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/site.css" />

    {% block additional_css %}{% endblock %}
</head>
<body>

<!--Navbar-->
<div class="whole-page">
  <nav class="navbar navbar-dark primary-color">
    <div class="" id="navbar">
      <div class="navbar-left">
        <a class="navbar-brand" href="/">Notasi</a>
          <ul class="navbar-nav">
            <li class="nav-item {% if request.path == '/' %} active {% endif %}">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item {% if '/process' in request.path %} active {% endif %}">
              <a class="nav-link" href="/process">Processes</a>
            </li>

            <li class="nav-item {% if '/schedule' in request.path %} active {% endif %}">
              <a class="nav-link" href="/schedule">Schedules</a>
            </li>

            <li class="nav-item {% if '/api' in request.path %} active {% endif %}">
              <a class="nav-link" href="/api">Endpoints</a>
            </li>

            <li class="nav-item {% if '/group' in request.path %} active {% endif %}">
              <a class="nav-link" href="/group/group_category">Groups</a>
            </li>

            <li class="nav-item {% if '/user' in request.path %} active {% endif %}">
              <a class="nav-link" href="/user">Users</a>
            </li>

            <li class="nav-item {% if '/dashboard' in request.path %} active {% endif %}">
              <a class="nav-link" href="/dashboard">Dashboards</a>
            </li>

            <li class="nav-item {% if '/chart' in request.path %} active {% endif %}">
              <a class="nav-link" href="/chart">Charts</a>
            </li>
          </ul>
        </div>
        <div class = "navbar-right">
          <div class="navbar-loginout">
            {% if current_user.is_authenticated %}
            <div class="dropdown">
              <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ current_user.name }}
              </a>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="nav-link" href="/auth/logout">Logout</a>
              </div>
            </div>
            {% else %}
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/auth/login">Login</a>
              </li>
            </ul>
            
            {% endif %}
          </div>
        </div>
    </div>
  </nav>
  <div class="main_content">
      {% block main_content %}{% endblock %}
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


{% block additional_js %}{% endblock %}

</body>
</html>
